<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Refferal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <h4>Refferals - Earn for Life Campaign</h4>
        <p>Earn Passive Income anytime your refferee and his/hef downlines make a transaction on storehouse.ng</p>
      </ion-col>
      
      <ion-col size="4">
        <ion-button color="primary" expand="center" color="primary" (click)="login()">Withdraw</ion-button>
        <h3>N 1 300</h3>
        <p>Your Refferal Earnings</p>
      </ion-col>
    </ion-row>

 
        <ion-card color="">
          <ion-card-header>
            <ion-card-title font-weight="bold">YOUR REFFERAL LINK</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           <input type="text" placeholder=""><span><ion-button color="primary" expand="center" color="primary" (click)="login()">Withdraw</ion-button>
           </span>
          </ion-card-content>
        </ion-card>
    
        <ion-card color="">
          <ion-card-header>
            <ion-card-title font-weight="bold">YOUR REFFERAL LINK</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           <input type="text" placeholder=""><span>
             <ion-button color="primary" expand="center" color="primary" (click)="login()">Withdraw</ion-button>
           </span>
          </ion-card-content>
        </ion-card>
      
  </ion-grid>

  <ion-card color="">
    <ion-card-header>
      <ion-card-title font-weight="bold">7</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Total Refferal Sign Ups
    </ion-card-content>
  </ion-card>

  <ion-card color="">
    <ion-card-header>
      <ion-card-title font-weight="bold">7</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Personal Sign Ups
    </ion-card-content>
  </ion-card>

  <ion-card color="">
    <ion-card-header>
      <ion-card-title font-weight="bold">7</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Downline Sign Ups
    </ion-card-content>
  </ion-card>

  <ion-button color="primary" expand="center" color="primary" (click)="login()">View More</ion-button>
           
  
</ion-content>
