<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Withdraw Funds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content contentId="container">

  <ion-card>
    <ion-card-header>
      <ion-card-title font-weight="bold" class="ion-text-center">Withdraw Funds</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Input your details in the form below to withdraw funds from your wallet
    </ion-card-content>
  </ion-card>


</ion-content>
