<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="button" color="success">
    <ion-grid>
      <ion-row class="justify-content-center">
        <ion-col size="10">
          <ion-card-header>
            <ion-card-title font-weight="bold">Fund Wallet</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           Fund your storehouse.ng wallet and use it to make payments
          </ion-card-content>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="add-circle"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title font-weight="bold">Withdraw</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Withdraw funds into your bank Account
    </ion-card-content>
  </ion-card>

</ion-content>
