<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentArea">
  <ion-text>
    <h3>Choose a Type of Budget</h3>
  </ion-text>

  <div class="card-bg">
    <ion-card  class="ion-text-center card-bg" routerLink="/budget-type">
      <ion-card-content>
        <!-- <img class="title-image" src="../../../assets/img/logo.svg" width="40%"/> -->
      Create a budget or <br> Create a Transport Fare
      </ion-card-content>
    </ion-card>
  </div>
  </div>


</ion-content>
